/* Geral */

.titulo {
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    line-height: 1.2em;
    padding-bottom: 20px;
    position: relative; /* Adicionado para permitir posicionamento absoluto do pseudo-elemento */
    z-index: 1; /* Garante que o texto fique acima do retângulo */
}

.titulo h1 {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 0px 0px; /* Reduzindo o padding */
}

.titulo h1::before {
    content: '';
    display: block;
    width: 350px; /* Ajustando ligeiramente a largura para um melhor ajuste */
    height: 70px; /* Ajustando ligeiramente a altura */
    background-color: #ff9100;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

body {
    background-image: url('assets/grid3.png');
    background-repeat: repeat; /* Ou 'repeat-x', 'repeat-y', 'no-repeat' */
}

/* Contador */
.countup {
  text-align: center;
  margin: 1px;
  margin-bottom: 10px;
  padding-top: 1  5px;
}
.countup .timeel {
  display: inline-block;
  padding: 10px;
  background: #151515;
  margin: 0;
  color: white;
  min-width: 2.6rem;
  margin-left: 10px;
  border-radius: 10px 0 0 10px;
}
.countup span[class*="timeRef"] {
  border-radius: 0 10px 10px 0;
  margin-left: 0;
  background: #ff9100;
  color: black;
}

/* Slider */
.container-fluid {
    padding-top: 20px;
    width: 95%;
}

#mainSlider .carousel-inner {
  border-radius: 20px 20px 20px 20px;
}

#mainSlider .carousel-caption {
    top: 1%;
}

#mainSlider .carousel-caption h2 {
    color: transparent;

}

#mainSlider .carousel-caption h2::selection {
    color: transparent;
}

.main-btn {
    background-color: #151515;
    background-blend-mode: overlay;
    color: #ffffff;   
    width: 90%; 
    max-width: 400px; 
    padding: 10px 15px; 
    border-radius: 30px;
    border: 3px solid transparent;
    text-decoration: none;
    white-space: normal; 
    display: inline-block;
    text-align: center; 
    box-sizing: border-box; 
}

.main-btn:hover {
    text-decoration: none;
    background-color: #151515;
    color: #ffffff;
    border-color: #151515;
}